@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-2xl font-bold;
}

.prose > ul {
  @apply my-0;
}

.prose > p {
  @apply mt-6 mb-2;
}

.prose > h1 {
  @apply text-4xl font-bold mb-3;
}

.prose > h2 {
  @apply text-3xl font-bold mb-3;
}

.prose > h3 {
  @apply text-2xl font-bold;
}

.prose > h4 {
  @apply mb-2 mt-2;
}

.prose > ul > li {
  @apply !my-0;
}

article {
  @apply prose md:prose-lg lg:prose-xl max-w-none prose-neutral dark:prose-invert;
}

.icon {
  width: 14px;
  height: 14px;

  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;

  background-color: currentColor;
}